/*GENERAL*/

* {
    box-sizing: border-box;
}

body {
    color: #838383;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-content-container {
    display: flex;
    max-width: 1140px;
}

.content-box {
    width: 100%;
    max-width: 940px;
    padding: 0 20px 0 20px;
    margin-right: auto;
    margin-left: auto;
}

.upper-margin {
    margin-top: 20px;
}

.container-shadow {
    box-shadow: 0 2px 10px #BDBDBD;
    border-radius: 5px;
}

/*PROFILE-VIEW*/

.top-details-container {
    display: flex;
    height: 150px;
}

.top-details-inner-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


    /*AVATAR*/
    .top-details-inner-container:first-child {
        width: 15%;
        min-width: 110px;
    }

.avatar-image-container {
    position: relative;
    background: url("../avatars/avatar.png") no-repeat;
    background-size: 99px 99px;
    width: 100px;
    height: 100px;
    margin: auto;
}


.avatar-button {
    position: absolute;
    background: #8FCE5D;
    color: #FFFFFF;
    font-family: serif;
    display: flex;
    height: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.avatar-add {
    width: 15px;
    top: 2px;
    left: 2px;
}

.avatar-lvl {
    width: 25px;
    bottom: 2px;
    right: 2px;
}

/*NAME SURNAME*/

.top-details-inner-container:nth-child(2) {
    width: 40%;
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 295px;
}

.edit-toggle-button {
    position: absolute;
    width: 25px;
    height: 25px;
}

.edit-toggle-button-1 {
    top: 10px;
    right: 200px;
}

.details-wrapper {
    margin: auto;
    position: relative;
}

    .details-wrapper .name {
        font-size: 24px;
        color: black;
    }

    .details-wrapper .role {
        font-size: 16px;
    }

.top-details-inner-container:nth-child(3) {
    width: 15%;
    min-width: 143px;
    padding: 5px;
}

.top-details-inner-container:last-child {
    width: 30%;
    min-width: 200px;
    padding: 5px 15px 5px 5px;
}

.text-padding {
    padding: 5px 0 5px 20px;
}


/*PROFILE-VIEW INFORMATION*/

.information-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 15px;
}

.input {
    width: 50%;
    padding: 5px 5px 5px 15px;
}

.text-box {
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid white;
}

    .text-box:hover {
        border: 1px solid #8FCE5D;
    }

.information-title {
    font-size: 24px;
    color: #8FCE5D;
    padding: 10px 0 10px 30px;
    position: relative;
}

.edit-toggle-button-2 {
    top: 10px;
    left: 180px;
}

/*PROFILE-VIEW ITEMS*/

.item-container {
    display: flex;
    margin-bottom: 25px;
}

.item-inner-container {
    width: 33%;
    padding: 15px 0 15px 0;
    margin-right: 10px;
    min-width: 237px;
}
.item-inner-container-team-view:nth-child(3n+3) {
    margin-right: 0;
}
.profile-view-icon-size {
    width: 35px;
    height: 35px;
}

.item-image {
    width: 20%;
    text-align: center;
    min-width: 50px;
    margin: auto;
}

.name-wrapper {
    width: 75%;
    min-width: 100px;
}

.remove-btn {
    position: relative;
    width: 5%;
}

    .remove-btn img {
        position: absolute;
        width: 5px;
        height: 5px;
        right: 5px;
        top: 5px;
    }

.item {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0 15px;
    padding: 10px;
}

.item:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
}

.item.margin-reset {
    margin-left: 15px;
    margin-right: 15px;
}

.item-subname {
    font-size: 0.6em;
}

.item-title {
    font-size: 24px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.title-1 {
    color: #49C8D9;
}

.title-2 {
    color: #845DD6;
}

.title-3 {
    color: #D65DBB;
}


/*SIDE-MENU*/

.menu-container {
    width: 200px;
    min-width: 200px;
    background: #ECECEC;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    margin: 20px 0 20px 20px;
    border-radius: 5px;
}

.inner-menu-container.admin {
    display: flex;
}

.avatar-image {
    margin-left: 28px;
    height: 50px;
    width: 50px;
}

.details-wrapper-side-menu {
    margin: auto 0 auto 15px;
}

    .details-wrapper-side-menu .name {
        font-size: 0.8em;
    }

    .details-wrapper-side-menu .role {
        font-size: 0.5em;
    }

.inner-menu-container.list {
    display: flex;
    flex-direction: column;
}

.single-menu-container {
    display: flex;
    margin-left: 25px;
    margin-bottom: 5px;
}

    .single-menu-container:first-child {
        margin-top: 20px;
    }

.symbol {
    width: 25px;
    height: 25px;
    margin: 5px 0 5px 15px;
}

.singe-menu-name {
    margin: 7px 0 5px 15px;
    vertical-align: middle;
}

.singe-menu-name:focus {
    color:#49c8d9
}

.active-icon {
    display: none;
}

/*TEAM-VIEW*/

.item-inner-container-team-view {
    width: calc(33.33% - 6.64px);
    margin-top: 20px;
}

.item-inner-container-team-view .item {
    margin: 15px 15px 0 15px;
}

.item-image-team-view {
    width: 25%;
    padding-right: 10px;
}

img.team-view-avatar {
    width: 40px;
    height: 40px;
}

.row-wrap {
    flex-flow: row wrap;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.button {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    color: white;
}

.button-edit {
    background: #8FCE5D;
}

.button-delete {
    background: #E86868;
}

.button-new {
    background: #845DD6;
}


/*CLASS-VIEW*/

.class-name {
    width: 100%;
}

.dropdown {
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
}

    .dropdown:hover {
        border: 1px solid #8FCE5D;
}

.dropdown img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    right: 7px;
}


/*EXPERIENCE-VIEW*/

.item-container-experience {
    margin-bottom: 25px;
}

.item-wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
}

    .item-wrapper .item {
        width: calc(33.33% - 20px);
}

.item-experience {
    min-width: 219px;
}
.experience-details {
    display: flex;
    justify-content: space-between;
}

.experience-view-avatar{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1100px) {
    .item-wrapper .item {
        width: calc(50% - 22.5px);
    }

    .item-inner-container-team-view {
        width: calc(50% - 5px);
    }

    .item-inner-container-team-view:nth-child(3n+3) {
        margin-right: 10px;
    }
        .item-inner-container-team-view:nth-child(2n+2) {
            margin-right: 0;
        }
    .item:nth-child(3n+2) {
        margin-left: 15px;
        margin-right: 15px;
    }

    .item-experience:nth-child(2n+1) {
        margin-right: 0;
    }

    /*SIDE-MENU*/
    .menu-container {
        width: 100px;
        min-width: 100px;
    }

    .singe-menu-name {
        display: none;
    }

    .details-wrapper-side-menu {
        display: none;
    }

}

@media screen and (max-width: 700px) {
    .item-wrapper .item, .item-inner-container-team-view {
        width: 100%;
    }
    .item-inner-container-team-view:nth-child(n) {
        margin-right: 0;
    }
    .item-experience:nth-child(2n+1) {
        margin-right: 15px;
    }
}