@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Login

<div class="login-box move-down">
    <div>
        <h1 class="rainbow rainbow_text_animated big">QUESTORE</h1>
    </div>
    

</div>

        <div class="login-box big-margin-top"> 
            <div class="login-box-inside gradient-border">
                <form asp-action="Index" method="post">
                    <div class="center-content"><h2 class="margin-on-bot">Login</h2></div>
                    <p>
                        <label class="label-style" asp-for="Identifier"></label>
                        <input class="input-style" asp-for="Identifier">
                    </p>
                    <p>
                        <label asp-for="Password"></label>
                        <input class="input-style" asp-for="Password" type="password">
                    </p>
                    <div class="center-content"><input class="button green-btn margin-on-top" type="submit" value="login" /></div>
                </form>
            </div>
        </div>
