<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIDE-MENU</title>
    <link rel="stylesheet" href="../views/assets/styles/reset.css" />
    <link rel="stylesheet" href="../views/assets/styles/profile.css" />
    <link rel="stylesheet" href="../views/components/topmenu/styleMenu.css" />
    <script src="../views/components/topmenu/scriptMenu.js" defer></script>
</head>
<body>
    <div class="menu-container">
        <div class="inner-menu-container admin">
            <img class="avatar-image" src="icons/avatar2.png" />
            <div class="details-wrapper details-wrapper-side-menu">
                <div class="name">Name Surname</div>
                <div class="role">Administrator</div>
            </div>
        </div>
        <div class="inner-menu-container list">
            <div class="single-menu-container">
                <img class="symbol icon" src="icons/student.png"/>
                <img class="symbol active-icon" src="icons/student-active.png"/>
                <div class="singe-menu-name">students</div>
            </div>
            <div class="single-menu-container">
                <img class="symbol icon" src="icons/animals.png" />
                <img class="symbol active-icon" src="icons/animals-active.png" />
                <div class="singe-menu-name">artifacts</div>
            </div>
            <div class="single-menu-container">
                <img class="symbol icon" src="icons/duck.png" />
                <img class="symbol active-icon" src="icons/duck-active.png" />
                <div class="singe-menu-name">mentors</div>
            </div>
            <div class="single-menu-container">
                <img class="symbol icon" src="icons/web.png" />
                <img class="symbol active-icon" src="icons/web-active.png" />
                <div class="singe-menu-name">classes</div>
            </div>
            <div class="single-menu-container">
                <img class="symbol icon" src="icons/king.png" />
                <img class="symbol active-icon" src="icons/king-active.png" />
                <div class="singe-menu-name">quests</div>
            </div>
            <div class="single-menu-container">
                <img class="symbol icon" src="icons/quaver.png" />
                <img class="symbol active-icon" src="icons/quaver-active.png" />
                <div class="singe-menu-name">teams</div>
            </div>
            <div class="single-menu-container">
                <img class="symbol icon" src="icons/guest-star.png" />
                <img class="symbol active-icon" src="icons/guest-star-active.png" />
                <div class="singe-menu-name">experience</div>
            </div>

        </div>
    </div>
</body>
</html>