@model Artifact

<div class="artifact">
    <div class="left">
        <img class="artifact-img" src="../assets/images/artifacts/@Model.ImageUrl">
    </div>
    <div class="right center-text half">
        <h3 class="no-margin">@Model.Name</h3>
        <p>@Model.Description</p>
        <p>@Model.Price stars</p>
        <button class="tiny yellow-btn">claim ★</button>
    </div>
</div>