<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Questore</title>
    <link rel="stylesheet" href="/assets/styles/app.css" />
    <script src="assets/scripts/scriptMenu.js" defer></script>
</head>
<body>
    <div class="topnavbar">
        <div class="topnav" id="mytopnav">
            <a href="#qstore" class="mytopnav-item">QUESTSTORE</a>
            <a href="myprofile-view-student.html" class="mytopnav-item">PROFILE</a>
            <a href="quest-view.html" class="mytopnav-item active">QUESTS</a>
            <a href="shop-view.html" class="mytopnav-item">SHOP</a>
            <a href="../other-views/login-page.html" class="mytopnav-item">LOG OUT</a>
            <a href="javascript:void(0);" class="mytopnav-icon" onclick="responsiveTopBar()">
            </a>
        </div>
    </div>
    <div class="container">
    @RenderBody()
    </div>
</body>
</html>
