@model Questore.Data.Models.Class

<div class="item container-element bigcontainer-shadow margin-reset">
    <div class="item-image">
        <img class="profile-view-icon-size" src="../assets/icons/write.png" />
    </div>
    <div class="name-wrapper">
        <div class="text-padding">@Model.Name</div>
        <div class="item-subname text-padding">@Model.DateStarted</div>
    </div>
</div>