@model Questore.Data.Models.Team

<div class="item container-element container-shadow margin-reset">
    <div class="item-image">
        <img class="profile-view-icon-size" src="../assets/icons/horse-shoe.png" />
    </div>
    <div class="name-wrapper">
        <div class="text-padding">@Model.Name</div>
        <div class="item-subname text-padding">@Model.ImageUrl</div>
    </div>
</div>