@model DetailDto

<div id="backdrop"></div>
<div class="modal card" id="add-modal">
    <form asp-action="AddDetail" method="post">
        <div class="modal__content">
            <label asp-for="Name" />
            <input asp-for="Name" type="text" />
            <label asp-for="Content" />
            <input asp-for="Content" type="text" />
        </div>
        <div class="modal__actions">
            <input type="submit" id="add" value="add" class="button green-btn" />
        </div>
    </form>
    <button id="cancel" class="button yellow-btn">cancel</button>
</div>