@{
    ViewData["Title"] = "Unexpected Error";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<br />
<h3>
    An error occured while processing your request.
    The support team is notified and we are working on the fix.
</h3>
<br />
<h5>Please contact us on RainbowFluffyUnicorns@buziaczek.pl</h5>
<hr />
<div class="container center-text">
    <img class="" src="../assets/images/errors/500.jpg" />
</div>