@{
    ViewBag.Title = "Not Found";
}

<br />
<h1>@ViewBag.ErrorMessage</h1>
<br />
<h1>@ViewBag.Path</h1>
<br />
<h1>@ViewBag.QS</h1>

<a asp-controller="Profile" asp-action="index">
    Click here to navigate to the profile page.
</a>

<hr />
<div class="container center-text">
    <img class="" src="../assets/images/errors/unicorn.png" />
</div>