@{
    ViewData["Title"] = "Index";
}

@model Student

<div style="max-width: 840px; margin: auto">
    
    <div id="add-button" class="button green-btn"> Click! </div>

    <partial name="_StudentTopDetails" />

    <div class="information-container container-shadow upper-margin">

        <div class="information-title">
            Details
            <img class="edit-toggle-button edit-toggle-button-2" src="../assets/buttons/add-button.png" />
        </div>

        <div class="input-container">
            @foreach (var detail in Model.Details)
            {
                <partial name="_StudentDetail" model="detail" />
            }
        </div>
    </div>

    <div class="item-container upper-margin">

        <div class="item-inner-container item-inner-container-profile container-shadow">
            <div class="item-title title-1">artifacts</div>

            @foreach (var studentArtifact in Model.Artifacts)
            {
                <partial name="_StudentArtifact" model="studentArtifact" />
            }

        </div>

        <div class="item-inner-container item-inner-container-profile container-shadow">
            <div class="item-title title-2">classes</div>

            @foreach (var studentClass in Model.Classes)
            {
                <partial name="_StudentClass" model="studentClass" />
            }

        </div>

        <div class="item-inner-container item-inner-container-profile container-shadow margin-right-zero">
            <div class="item-title title-3">teams</div>

            @foreach (var studentTeam in Model.Teams)
            {
                <partial name="_StudentTeam" model="studentTeam" />
            }

        </div>
    </div>
</div>


<div id="backdrop"></div>
<div class="modal card" id="add-modal">
    <form>
        <div class="modal__content">
            <label for="title">Detail Name</label>
            <input type="text" name="title" id="title" />
            <label for="description">Description</label>
            <input type="text" name="description" id="image-url" />
        </div>
        <div class="modal__actions">
            <button id="cancel" class="button yellow-btn">Cancel</button>
            <button id="add" class="button green-btn">Add</button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/scripts/addDetail.js" defer></script>
}

