/* RESET PART OF STYLES */
html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}


/* LAYOUT */
@font-face {
    font-family: Agus;
    src: url(../fonts/Agus/AgusSans-Regular.woff);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/ubuntu-v14-latin-regular.woff);
}

root {
    --main-color-yellow: #F0D266;
    --main-color-green: #8FCE5D;
    --main-color-blue: #49C8D9;
    --main-color-purple: #845DD6;
    --main-color-red: #E86868;
    --main-color-pink: #D65DBB;
}

body {
    color: #838383;
    background-color: #fafafa;
    font-family: Ubuntu;
}   

.container {
    max-width: 1140px;
    display: flex;
    margin: auto;
}

p {
    color: #838383;
    margin: 0px;
    font-size: 14px;
    font-weight: lighter;
}

h2 {
    padding: 0px;
    margin: 0px;
    display: inline;
    font-weight: normal;
    font-size: 24px;
}

/* DEFAULT MARGINS AND FLOATS */

.small-margin-left {
    margin-left: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

/* FONTS COLORS */


.font-blue {
    color: var(--main-color-blue);
    border-color: var(--main-color-blue);
}

.font-yellow {
    color: var(--main-color-yellow);
    border-color: var(--main-color-yellow);
}

.font-red {
    color: var(--main-color-red);
    border-color: var(--main-color-red);
}

.font-purple {
    color: var(--main-color-purple);
    border-color: var(--main-color-purple);
}

.font-green {
    color: var(--main-color-green);
    border-color: var(--main-color-green);
}

.font-pink {
    color: var(--main-color-pink);
    border-color: var(--main-color-pink);
}



/****** QUESTS AND ARTIFACTS CONTAINERS ******/

.artifact-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.4;
}

.view {
    display: inline-block;
    background-color: #FAFAFA;
    width: 100%;
    padding: 5px;
}

.elements-list {
    padding: 20px 0px;
    text-align: center;
}

/****** QUESTS AND ARTIFACTS STYLING ******/


.half {
    max-width: 50%;
}


.tiny {
    padding: 2px 5px;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 5px;
}

.green-btn {
    background-color: var(--main-color-green);
    border-color: var(--main-color-green);
}

.green-btn:hover {
    background-color: rgb(94, 158, 42);
    border-color: rgb(94, 158, 42);
}

.yellow-btn {
    background-color: var(--main-color-yellow);
    border-color: var(--main-color-yellow);
}

.yellow-btn:hover {
    background-color: rgb(206, 167, 26);
    border-color: rgb(206, 167, 26);
}


.artifact {
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 20px 10px 10px 10px;
    width: 316px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.artifact-img {
    width: 158px;
    height: auto;
    float: left;
}

/****** MENU STYLING ******/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: Agus;
    src: url(../../assets/fonts/Agus/AgusSans-Regular.woff);
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu/ubuntu-v14-latin-regular.woff);
}

.topnavbar {
    --topnav-font-regular-color: #f2f2f2;
    --topnav-background-color-1: #F0D266;
    --topnav-background-color-2: #E86868;
    --topnav-item-background-active: #FAFAFA;
    --topnav-item-background-hover: rgba(0, 0, 0, 0.1);
}

.topnavbar {
    font-family: Agus;
    position: sticky; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    top: 0; /* Position the navbar at the top of the page */
    background: linear-gradient(90deg, var(--topnav-background-color-1) 50%, var(--topnav-background-color-2) 50%);
    min-width: 560px;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: flex;
}

    /* Style the links inside the navigation bar */
    .topnav .mytopnav-icon,
    .topnav .mytopnav-item {
        float: left;
        display: block;
        color: var(--topnav-font-regular-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        min-width: 30px;
    }

.mytopnav-item:nth-child(1) {
    font-size: 40px;
}



.mytopnav-item:not(:first-child) {
    font-size: 25px;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .mytopnav-icon {
    display: none;
}

.mytopnav-item:nth-child(1) {
    background: var(--main-color-yellow);
}

.mytopnav-item:nth-child(2) {
    background: var(--main-color-green);
}

.mytopnav-item:nth-child(3) {
    background: var(--main-color-blue);
}

.mytopnav-item:nth-child(4) {
    background: var(--main-color-purple);
}

.mytopnav-item:nth-child(5) {
    background: var(--main-color-red);
}

.mytopnav-item:nth-child(1).active {
    color: var(--main-color-yellow);
}

.mytopnav-item:nth-child(2).active {
    color: var(--main-color-green);
}

.mytopnav-item:nth-child(3).active {
    color: var(--main-color-blue);
}

.mytopnav-item:nth-child(4).active {
    color: var(--main-color-purple);
}

.mytopnav-item:nth-child(5).active {
    color: var(--main-color-red);
}


/* Change the color of links on hover */
.topnav .mytopnav-icon:hover,
.topnav .mytopnav-item:hover {
    box-shadow: inset 0 0 100px 100px var(--topnav-item-background-hover);
}

/* Add an active class to highlight the current page */
.topnav .mytopnav-item.active {
    background-color: var(--topnav-item-background-active);
}


/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
    .mytopnav-item:not(:first-child) {
        display: none;
    }

    .topnav .mytopnav-icon {
        background: var(--topnav-background-color-2);
        display: inline-flex;
        max-width: 20px;
        color: var(--topnav-font-regular-color);
        font-size: 25px;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
    .topnav.responsive {
        /*position: relative;*/
        flex-direction: column;
    }

        .topnav.responsive .mytopnav-icon {
            background: var(--topnav-background-color-2);
            position: absolute;
            right: 0;
            top: 0;
            padding: 22px 16px 21px 16px;
        }

        .topnav.responsive .mytopnav-item {
            float: none;
            display: block;
            text-align: left;
        }
}