/* RESET PART OF STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}


/* LAYOUT */
@font-face {
    font-family: Agus;
    src: url(../fonts/Agus/AgusSans-Regular.woff);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/ubuntu-v14-latin-regular.woff);
}

:root {
    --main-color-yellow: #F0D266;
    --main-color-green: #8FCE5D;
    --main-color-blue: #49C8D9;
    --main-color-purple: #845DD6;
    --main-color-red: #E86868;
    --main-color-pink: #D65DBB;
}

body {
    color: #838383;
    background-color: #fafafa;
    font-family: Ubuntu;
}

.container {
    max-width: 1140px;
    margin: auto;
}

p {
    color: #838383;
    margin: 0px;
    font-size: 14px;
    font-weight: lighter;
}

h2 {
    padding: 0px;
    margin: 0px;
    display: inline;
    font-weight: normal;
    font-size: 24px;
}

/* LOGIN CLASSES */

.button {
    padding: 8px 30px;
    color: white;
    border: 1px solid;
    border-radius: 15px;
    font: 400 13.3333px Arial;
}

.button:hover {
    cursor: pointer;
}

.input-style {
    padding: 5px 10px;
    width: 92%;
    margin: 5px 0px 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.label-style {
    margin: 3px 0;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-margin-top {
    margin-top: 50px;
}

.margin-on-bot {
    margin-bottom: 10px;
}

.margin-on-top {
    margin-top: 12px;
}

.login-box-inside {
    display: inline;
    padding: 30px 40px;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
    margin: auto;
    display: inline;
} 

.move-down {
    margin-top: 25%;
}


.big {
    font-size: 50px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #F0D266, #8FCE5D, #49C8D9, #845DD6, #D65DBB, #E86868);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/* RAINBOW BORDER */

.gradient-border {
    --borderWidth: 1px;
    background: white;
    position: relative;
    border-radius: 5px;
}

    .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #F0D266, #8FCE5D, #49C8D9, #845DD6, #D65DBB, #E86868);
        border-radius: 5px;
        z-index: -1;
        animation: animatedgradient 6s ease alternate infinite;
        background-size: 300% 300%;
    }


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* DEFAULT MARGINS AND FLOATS */
    .small-margin-left {
        margin-left: 10px;
    }

.right {
    float: right;
}

.left {
    float: left;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

/* FONTS COLORS */


.font-blue {
    color: var(--main-color-blue);
    border-color: var(--main-color-blue);
}

.font-yellow {
    color: var(--main-color-yellow);
    border-color: var(--main-color-yellow);
}

.font-red {
    color: var(--main-color-red);
    border-color: var(--main-color-red);
}

.font-purple {
    color: var(--main-color-purple);
    border-color: var(--main-color-purple);
}

.font-green {
    color: var(--main-color-green);
    border-color: var(--main-color-green);
}

.font-pink {
    color: var(--main-color-pink);
    border-color: var(--main-color-pink);
}



/****** QUESTS AND ARTIFACTS CONTAINERS ******/

.artifact-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.4;
}

.view {
    display: inline-block;
    background-color: #FAFAFA;
    width: 100%;
    padding: 5px;
}

.elements-list {
    padding: 20px 0px;
    text-align: center;
}

/****** QUESTS AND ARTIFACTS STYLING ******/


.half {
    max-width: 50%;
}


.tiny {
    padding: 2px 5px;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 5px;
}

.green-btn {
    background-color: var(--main-color-green);
    border-color: var(--main-color-green);
}

    .green-btn:hover {
        background-color: rgb(94, 158, 42);
        border-color: rgb(94, 158, 42);
    }

.yellow-btn {
    background-color: var(--main-color-yellow);
    border-color: var(--main-color-yellow);
}

    .yellow-btn:hover {
        background-color: rgb(206, 167, 26);
        border-color: rgb(206, 167, 26);
    }


.artifact {
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 20px 10px 10px 10px;
    width: 316px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.artifact-img {
    width: 158px;
    height: auto;
    float: left;
}

/****** PROFILE STYLING ******/

.top-details-container {
    display: flex;
    height: 150px;
}

.container-shadow {
    box-shadow: 0 2px 10px #BDBDBD;
    border-radius: 5px;
}

.upper-margin {
    margin-top: 20px;
}

.top-details-inner-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


    /*AVATAR*/
    .top-details-inner-container:first-child {
    }

.avatar-image-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    z-index: -1;
}

.student-avatar {
    width: 100px;
    height: 100px;
}

/*.mentor-avatar {
    background: url("../../../../../avatars/avatar.png") no-repeat;
    background-size: 99px 99px;
}

.admin-avatar {
    background: url("../../../../../avatars/avatar2.png") no-repeat;
    background-size: 99px 99px;
}*/



.avatar-button {
    position: absolute;
    background: #8FCE5D;
    color: #FFFFFF;
    font-family: serif;
    display: flex;
    height: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.avatar-add {
    width: 15px;
    top: 2px;
    left: 2px;
}

.avatar-lvl {
    width: 25px;
    bottom: 2px;
    right: 2px;
    z-index: 1;
}

/*NAME SURNAME*/

.top-details-inner-container:nth-child(2) {
    width: 40%;
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 295px;
}

.edit-toggle-button {
    position: absolute;
    width: 20px;
    height: 20px;
}

.edit-toggle-button-1 {
    top: 10px;
    right: 200px;
}

.details-wrapper {
    margin: auto;
    position: relative;
    z-index: -1;
}

    .details-wrapper .name {
        font-size: 24px;
        color: black;
    }

    .details-wrapper .role {
        font-size: 16px;
    }

.top-details-inner-container:nth-child(3) {
    width: 15%;
    min-width: 143px;
    padding: 5px;
}

.top-details-inner-container:last-child {
    width: 30%;
    min-width: 200px;
    padding: 5px 15px 5px 5px;
}

.text-padding {
    padding: 5px 0 5px 8px;
}

.information-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}

.information-title {
    font-size: 24px;
    color: #8FCE5D;
    padding: 20px 0 10px 30px;
    position: relative;
    z-index: -1;
}

.edit-toggle-button-2 {
    top: 23px;
    left: 115px;
}

.edit-toggle-button-2:hover {
    cursor: pointer;
}

.input {
    width: calc(50% - 10px);
    padding: 5px;
    word-wrap: break-word;
}

.text-box {
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid white;
    font-size: smaller;
}

.text-box:hover {
    border: 1px solid #8FCE5D;
}

/*PROFILE-VIEW ITEMS*/

.item-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.item-inner-container {
    width: calc(33.33% - 6.65px);
    padding: 15px 0 15px 0;
    margin-right: 10px;
    min-width: 230px;
}

.item-inner-container-team-view:nth-child(3n+3) {
    margin-right: 0;
}

.item-inner-container-profile {
    margin-bottom: 20px;
}

.margin-right-zero {
    margin-right: 0;
}

.profile-view-icon-size {
    width: 35px;
    height: 35px;
}

.item-image {
    width: 20%;
    text-align: center;
    min-width: 50px;
    margin: auto;
}

.name-wrapper {
    width: 80%;
    min-width: 100px;
}

.artifact-name-wrapper {
    width: 65%;
}

.artifact-btn {
    margin-top: 22%;
}

.float-bot {
    margin-top: auto;
}

.fix-width-padding {
    width: 100%;
    padding: 2px 0;
}

input[type="submit"]:focus, input[type="image"] {
    outline: none;
}

*:focus {
    outline: none;
}

.inactive-btn {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
    display: inline-block
}

.hidden {
    visibility: hidden;
}

.inactive-btn:hover {
    cursor: default;
}

.width-25 {
    width: 25%;
}

.artifact-btn input {
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    border-style: none;
    font-family: inherit;
    border-radius: 10px;
    text-transform: lowercase;
}

.remove-btn {
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.remove-btn input {
    position: absolute;
    width: 8px;
    right: 0;
    top: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0 15px;
    padding: 10px;
}

.item:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
}

.item.margin-reset {
    margin-left: 15px;
    margin-right: 15px;
}

.item-subname {
    font-size: 0.6em;
    color: #838383;
}

.item-title {
    font-size: 24px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.title-1 {
    color: #49C8D9;
}

.title-2 {
    color: #845DD6;
}

.title-3 {
    color: #D65DBB;
}

/****** MENU STYLING ******/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: Agus;
    src: url(../../assets/fonts/Agus/AgusSans-Regular.woff);
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu/ubuntu-v14-latin-regular.woff);
}

.topnavbar {
    --topnav-font-regular-color: #f2f2f2;
    --topnav-background-color-1: #F0D266;
    --topnav-background-color-2: #E86868;
    --topnav-item-background-active: #FAFAFA;
    --topnav-item-background-hover: rgba(0, 0, 0, 0.1);
}

.topnavbar {
    font-family: Agus;
    position: sticky; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    top: 0; /* Position the navbar at the top of the page */
    background: linear-gradient(90deg, var(--topnav-background-color-1) 50%, var(--topnav-background-color-2) 50%);
    min-width: 480px;
    z-index: 1;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: flex;
}

    /* Style the links inside the navigation bar */
    .topnav .mytopnav-icon,
    .topnav .mytopnav-item {
        float: left;
        display: block;
        color: var(--topnav-font-regular-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        min-width: 30px;
    }

.mytopnav-item:nth-child(1) {
    font-size: 40px;
}



.mytopnav-item:not(:first-child) {
    font-size: 25px;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .mytopnav-icon {
    display: none;
}

.mytopnav-item:nth-child(1) {
    background: var(--main-color-yellow);
}

.mytopnav-item:nth-child(2) {
    background: var(--main-color-green);
}

.mytopnav-item:nth-child(3) {
    background: var(--main-color-blue);
}

.mytopnav-item:nth-child(4) {
    background: var(--main-color-purple);
}

.mytopnav-item:nth-child(5) {
    background: var(--main-color-red);
}

.mytopnav-item:nth-child(1).active {
    color: var(--main-color-yellow);
}

.mytopnav-item:nth-child(2).active {
    color: var(--main-color-green);
}

.mytopnav-item:nth-child(3).active {
    color: var(--main-color-blue);
}

.mytopnav-item:nth-child(4).active {
    color: var(--main-color-purple);
}

.mytopnav-item:nth-child(5).active {
    color: var(--main-color-red);
}


/* Change the color of links on hover */
.topnav .mytopnav-icon:hover,
.topnav .mytopnav-item:hover {
    box-shadow: inset 0 0 100px 100px var(--topnav-item-background-hover);
}

/* Add an active class to highlight the current page */
.topnav .mytopnav-item.active {
    background-color: var(--topnav-item-background-active);
}


/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
    .mytopnav-item:not(:first-child) {
        display: none;
    }

    .topnav .mytopnav-icon {
        background: var(--topnav-background-color-2);
        display: inline-flex;
        max-width: 20px;
        color: var(--topnav-font-regular-color);
        font-size: 25px;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
    .topnav.responsive {
        /*position: relative;*/
        flex-direction: column;
    }

        .topnav.responsive .mytopnav-icon {
            background: var(--topnav-background-color-2);
            position: absolute;
            right: 0;
            top: 0;
            padding: 22px 16px 21px 16px;
        }

        .topnav.responsive .mytopnav-item {
            float: none;
            display: block;
            text-align: left;
        }
}

@media screen and (max-width: 1024px) {
    .item-wrapper .item {
        width: calc(50% - 22.5px);
    }

    .item-inner-container-team-view {
        width: calc(50% - 5px);
    }

    .item-inner-container-team-view:nth-child(3n + 3) {
        margin-right: 10px;
    }

    .item-inner-container-team-view:nth-child(2n + 2) {
        margin-right: 0;
    }

    .item:nth-child(3n + 2) {
        margin-left: 15px;
        margin-right: 15px;
    }

    .item-experience:nth-child(2n + 1) {
        margin-right: 0;
    }

    /*SIDE-MENU*/
    .menu-container {
        width: 100px;
        min-width: 100px;
        padding-left: 0;
    }

    .singe-menu-name {
        display: none;
    }

    .details-wrapper-side-menu {
        display: none;
    }

    /*PROFILE-VIEW*/

    .top-details-container, .information-container, .item-container, .button-wrapper {
        min-width: 420px;
    }
}

@media screen and (max-width: 724px) {
    .item-wrapper .item, .item-inner-container-team-view {
        width: 100%;
    }

    .item-inner-container-team-view:nth-child(n) {
        margin-right: 0;
    }

    .item-experience:nth-child(2n+1) {
        margin-right: 15px;
    }

    /*PROFILE-VIEW*/

    .top-details-inner-container:nth-child(3), .top-details-inner-container:last-child {
        display: none;
    }

    .top-details-inner-container:nth-child(2) {
        width: 85%;
    }

    .input, .item-inner-container-profile {
        width: 100%;
    }

    .item-inner-container {
        margin-right: 0;
    }
}

/* BACKDROP */

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal {
    position: fixed;
    z-index: 100;
    width: 80%;
    top: 30vh;
    left: 10%;
    display: none;
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #00329e;
    background: #00329e;
    color: white;
    border-radius: 10px 10px 0 0;
}

.modal .modal__content {
    padding: 1rem;
}

.modal .modal__actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

#add-modal .modal__content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes fade-slide-in {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0);
    }
}