@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: Agus;
    src: url(../fonts/Agus/AgusSans-Regular.woff);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/ubuntu-v14-latin-regular.woff);
}

.container {
    max-width: 1140px;
    display: flex;
}

.menu {
    width: 200px;
    background-color: #ECECEC;
    float: left;
}

.view {
    display: inline-block;
    background-color: #FAFAFA;
    width: 100%;
    padding: 5px;
}

.small-margin {
  margin: 0px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.margin-top {
  margin-top: 10px;
}

.small-margin-left {
  margin-left: 10px;
}

.padding {
    padding: 10px 40px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
  text-align: center;
}

.half {
  max-width: 50%;
}

.blue {
    color: rgb(32, 166, 184);
    border-color: #49C8D9;
}

.small {
  padding: 10px 20px;
  background-color: black;
  color: white;
  margin: 30px 0px 10px 10px;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.tiny {
  padding: 2px 5px;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 5px;
}

.green-btn {
  background-color: #8FCE5D;
  border-color: #8FCE5D;
}

.green-btn:hover {
  background-color: rgb(94, 158, 42);
  border-color: rgb(94, 158, 42);
}

.yellow-btn {
  background-color: #F0D266;
  border-color: #F0D266;
}

.yellow-btn:hover {
  background-color: rgb(206, 167, 26);
  border-color: rgb(206, 167, 26);
}

.red-btn {
  background-color: #E86868;
  border-color: #E86868;
}

.red-btn:hover {
  background-color: rgb(212, 69, 69);
  border-color:  rgb(212, 69, 69);
}

.purple-btn {
  background-color: #845DD6;
  border-color: #845DD6;
}

.purple-btn:hover {
  background-color: rgb(96, 58, 179);
  border-color: rgb(96, 58, 179);
}

.right {
  float: right;
}

.yellow {
    color: #F0D266;
    border-color: #F0D266;
}

.red {
    color: #E86868;
    border-color: #E86868;
}

.purple {
    color: #845DD6;
    border-color: #845DD6;
}

.green {
    color: #8FCE5D;
    border-color: #8FCE5D;
}

.pink {
    color: #D65DBB;
    border-color: #D65DBB;
}

.elements-list {
    padding: 20px 0px;
    text-align: center;
}

body {
    color: #838383;
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    padding: 0px;
    margin: 0px;
    display: inline;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

.list-element {
    color: black;
    font-weight: lighter;
    font-size: 18px;
    margin: 0px;
}

.color:hover {
    color: inherit;
}

.right {
    float: right;
}

.sort-button {
    float: right;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px 60px;
    font-size: 12px;
}

.artifact-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.artifact {
  background-color: white;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 20px 10px 10px 10px;
  width: 316px;
  border-radius: 5px;
}

.artifact-img {
  width: 158px;
  height: auto;
  float: left;
}

.card-list {
    margin: auto;
    margin-top: 10px;
    border-left: 15px solid;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    padding: 5px 20px;
    overflow: auto;
    border-radius: 5px;
}

.list-container {
    margin-top:40px;
}

.margin-left {
    margin-left: 20px;
}

p {
    color: #838383;
    margin: 0px;
    font-size: 14px;
    font-weight: lighter;
}

.avatar {
    max-height: 70px;
    width: auto;
    float: right;
    padding: 10px;
}

.table-container {
    display: block;
    max-width: 80%;
    float: left;
}

.image-container {
    min-height: 10px;
    max-width: 30%;
    float: right;
}



/* table */

.Rtable {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    padding: 0;
  }
  .Rtable-cell {
    box-sizing: border-box;
    -webkit-box-flex: 1;
            flex-grow: 1;
    width: 100%;
    overflow: hidden;
    list-style: none;
  }
  .Rtable-cell > h1,
  .Rtable-cell > h2,
  .Rtable-cell > h3,
  .Rtable-cell > h4,
  .Rtable-cell > h5,
  .Rtable-cell > h6 {
    margin: 0;
  }
  /* Table column sizing
  ================================== */
  .Rtable--2cols > .Rtable-cell {
    width: 50%;
  }
  .Rtable--3cols > .Rtable-cell {
    width: 33.33%;
  }
  .Rtable--4cols > .Rtable-cell {
    width: 25%;
  }
  .Rtable--5cols > .Rtable-cell {
    width: 20%;
  }
  .Rtable--6cols > .Rtable-cell {
    width: 16.6%;
  }

  .nogrow {
      flex-grow: 0;
  }

  .flexend {
      align-self: flex-end;
  }
 
  /* Apply styles
  ================================== */
  .Rtable {
    position: relative;
    top: 3px;
    left: 3px;
  }
  .Rtable-cell {
    margin: -3px 0 0 -3px;
    background-color: white;
    border-color: #e2e6e9;
  }
  /* Cell styles
  ================================== */
  .Rtable-cell--dark {
    background-color: slategrey;
    border-color: #5a6673;
    color: white;
  }
  .Rtable-cell--dark > h1,
  .Rtable-cell--dark > h2,
  .Rtable-cell--dark > h3,
  .Rtable-cell--dark > h4,
  .Rtable-cell--dark > h5,
  .Rtable-cell--dark > h6 {
    color: white;
  }

  .Rtable-cell--default {
      color: black;
      background-color: inherit;
      font-size: 12px;
  }
  .Rtable-cell--medium {
    background-color: #b8c0c8;
    border-color: #a9b3bc;
  }
  .Rtable-cell--light {
    background-color: white;
    border-color: #e2e6e9;
  }
  .Rtable-cell--highlight {
    background-color: lightgreen;
    border-color: #64e764;
  }
  .Rtable-cell--alert {
    background-color: darkorange;
    border-color: #cc7000;
    color: white;
  }
  .Rtable-cell--alert > h1,
  .Rtable-cell--alert > h2,
  .Rtable-cell--alert > h3,
  .Rtable-cell--alert > h4,
  .Rtable-cell--alert > h5,
  .Rtable-cell--alert > h6 {
    color: white;
  }
  .Rtable-cell--head {
    background-color: slategrey;
    border-color: #5a6673;
    color: white;
  }
  .Rtable-cell--head > h1,
  .Rtable-cell--head > h2,
  .Rtable-cell--head > h3,
  .Rtable-cell--head > h4,
  .Rtable-cell--head > h5,
  .Rtable-cell--head > h6 {
    color: white;
  }
  .Rtable-cell--foot {
    background-color: #b8c0c8;
    border-color: #a9b3bc;
  }

  /* Responsive
  ==================================== */
  @media all and (max-width: 500px) {
    .Rtable--collapse {
      display: block;
    }
    .Rtable--collapse > .Rtable-cell {
      width: 100% !important;
    }
    .Rtable--collapse > .Rtable-cell--foot {
      margin-bottom: 1em;
    }
  }
  .no-flexbox .Rtable {
    display: block;
  }
  .no-flexbox .Rtable > .Rtable-cell {
    width: 100%;
  }
  .no-flexbox .Rtable > .Rtable-cell--foot {
    margin-bottom: 1em;
  }

/****** MENU STYLING ******/

.topnavbar {
    --topnav-font-regular-color: #f2f2f2;
    --topnav-background-color-1: #F0D266;
    --topnav-background-color-2: #E86868;
    --topnav-item-background-active: #FAFAFA;
    --topnav-item-background-hover: rgba(0, 0, 0, 0.1);
    --topnav-item1-color: #F0D266;
    --topnav-item2-color: #8FCE5D;
    --topnav-item3-color: #49C8D9;
    --topnav-item4-color: #845DD6;
    --topnav-item5-color: #D65DBB;
}

.topnavbar {
    font-family: Agus;
    position: sticky; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    top: 0; /* Position the navbar at the top of the page */
    background: linear-gradient(90deg, var(--topnav-background-color-1) 50%, var(--topnav-background-color-2) 50%);
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    display: flex;
}

    /* Style the links inside the navigation bar */
    .topnav .mytopnav-icon,
    .topnav .mytopnav-item {
        float: left;
        display: block;
        color: var(--topnav-font-regular-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        min-width: 30px;
    }

.mytopnav-item:nth-child(1) {
    font-size: 40px;
}

.mytopnav-item:not(:first-child) {
    font-size: 25px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .mytopnav-icon {
    display: none;
}

.mytopnav-item:nth-child(1) {
    background: var(--topnav-item1-color);
}

.mytopnav-item:nth-child(2) {
    background: var(--topnav-item2-color);
}

.mytopnav-item:nth-child(3) {
    background: var(--topnav-item3-color);
}

.mytopnav-item:nth-child(4) {
    background: var(--topnav-item4-color);
}

.mytopnav-item:nth-child(5) {
    background: var(--topnav-item5-color);
}

.mytopnav-item:nth-child(1).active {
    color: var(--topnav-item1-color);
}

.mytopnav-item:nth-child(2).active {
    color: var(--topnav-item2-color);
}

.mytopnav-item:nth-child(3).active {
    color: var(--topnav-item3-color);
}

.mytopnav-item:nth-child(4).active {
    color: var(--topnav-item4-color);
}

.mytopnav-item:nth-child(5).active {
    color: var(--topnav-item5-color);
}


/* Change the color of links on hover */
.topnav .mytopnav-icon:hover,
.topnav .mytopnav-item:hover {
    box-shadow: inset 0 0 100px 100px var(--topnav-item-background-hover);
}

/* Add an active class to highlight the current page */
.topnav .mytopnav-item.active {
    background-color: var(--topnav-item-background-active);
}


/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
    .mytopnav-item:not(:first-child) {
        display: none;
    }

    .topnav .mytopnav-icon {
        background: var(--topnav-background-color-2);
        display: inline-flex;
        max-width: 20px;
        color: var(--topnav-font-regular-color);
        font-size: 25px;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
    .topnav.responsive {
        /*position: relative;*/
        flex-direction: column;
    }

        .topnav.responsive .mytopnav-icon {
            background: var(--topnav-background-color-2);
            position: absolute;
            right: 0;
            top: 0;
            padding: 26px 16px 26px 16px;
        }

        .topnav.responsive .mytopnav-item {
            float: none;
            display: block;
            text-align: left;
        }
}
