@model List<Artifact>

<div class="view">
    <div class="elements-list">
        <div class="artifact-container">
            @foreach (var artifact in @Model)
            {
                <partial name="_Artifact" model="artifact" />
            }
        </div>
    </div>
</div>