@model List<Artifact>

<div class="view">
    <div class="elements-list">
        <h2 class="blue">Regular Items</h2>
        <div class="artifact-container">
            @foreach (var artifact in @Model)
            {
                @if (artifact.Category.Name == "Regular")
                {
                    <partial name="_Artifact" model="artifact" />
                }
            }
        </div>
    </div>
    <div class="elements-list">
        <h2 class="green">Magic Items</h2>
        <div class="artifact-container">
            @foreach (var artifact in @Model)
            {
                @if (artifact.Category.Name == "Magic")
                {
                    <partial name="_Artifact" model="artifact"/>
                }
            }
        </div>
    </div>
 
</div>