/****** FORMS STYLING ******/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: Agus;
    src: url(../fonts/Agus/AgusSans-Regular.woff);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/ubuntu-v14-latin-regular.woff);
}

.form-container {
    --form-container-background-color: #FFFFFF;
    --form-container-border-color: #D65DBB;
    --form-container-border-radius: 20px;
    --form-element-background-color: #F5F5F5;
    --form-element-border-radius: 5px;
    --form-element-focus-background-color: white;
    --form-element-focus-outline-color: #F0D266;
    --form-element-focus-outline-style: 2px solid var(--form-element-focus-outline-color);
    --form-button-font-color: #FFFFFF;
    --form-button-shadow-color: rgba(0, 0, 0, 0.25);
    --form-button-background-color-1: #8FCE5D;
    --form-button-background-color-2: #E86868;
    --form-button-background-hover: rgba(0, 0, 0, 0.1);
    --form-button-border-radius: 10px;
    --form-select-arrow-down-color: linear-gradient(45deg, transparent 50%, var(--form-element-background-color) 50%), linear-gradient(135deg, var(--form-element-background-color) 50%, transparent 50%);
    --form-select-arrow-up-color: linear-gradient(45deg, var(--form-element-focus-background-color) 50%, transparent 50%), linear-gradient(135deg, transparent 50%, var(--form-element-focus-background-color) 50%), linear-gradient(to right, var(--form-element-focus-outline-color), var(--form-element-focus-outline-color));
    --form-select-arrow-background-size: 5px 8px, 5px 8px, 3.3em 3.3em;
    --form-item1-color: #8FCE5D;
    --form-item2-color: #49C8D9;
    --form-item3-color: #845DD6;
    --form-item4-color: #E86868;
    --form-item5-color: #D65DBB;
    --form-item6-color: #F0D266;
}

.form-container {
    font-family: Ubuntu;
    margin: 50px auto;
    max-width: 800px;
    padding: 0px 90px 50px;
    background: var(--form-container-background-color);
    border: 1px solid var(--form-container-border-color);
    box-sizing: border-box;
    border-radius: var(--form-container-border-radius);
}

/* reset */
.form-select {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.form-header,
.form-label {
    grid-column: 1/span 2;

}

.full-width {
    grid-column: 1 / 3;
}

.form-select,
.form-input {
    width: 100%;
    grid-column: 1/span 2;
    margin-top: 1em;
    border-radius: var(--form-element-border-radius);
    border: 1px solid;
    padding: 1em;
    background: var(--form-element-background-color);
}

.form-button,
.form-select,
.form-input {
    box-sizing: border-box;
}

.form-header {
    margin: auto;
    font-size: 36px;
    text-align: center;
}

.form-button,
.form-label {
    font-size: 24px;
}

.form-select,
.form-input {
    font-size: 16px;
}

/**** COLORFUL INPUTS AND SELECTS *****/

.form-input:focus {
    background: var(--form-element-focus-background-color);
    outline: var(--form-element-focus-outline-style);
}

.form-element:nth-of-type(1) .form-input,
.form-element:nth-of-type(1) .form-select {
    border-color: var(--form-item1-color);
}

.form-element:nth-of-type(2) .form-input,
.form-element:nth-of-type(2) .form-select {
    border-color: var(--form-item2-color);
}

.form-element:nth-of-type(3) .form-input,
.form-element:nth-of-type(3) .form-select {
    border-color: var(--form-item3-color);
}

.form-element:nth-of-type(4) .form-input,
.form-element:nth-of-type(4) .form-select {
    border-color: var(--form-item4-color);
}

.form-element:nth-of-type(5) .form-input,
.form-element:nth-of-type(5) .form-select {
    border-color: var(--form-item5-color);
}

.form-element:nth-of-type(6) .form-input,
.form-element:nth-of-type(6) .form-select {
    border-color: var(--form-item6-color);

}

.form-element:nth-of-type(1) .form-select {
    background-image: var(--form-select-arrow-down-color), linear-gradient(to right, var(--form-item1-color), var(--form-item1-color));
}

    .form-element:nth-of-type(1) .form-select:focus {
        background-image: var(--form-select-arrow-up-color);
        border: var(--form-element-focus-outline-style);
        border-radius: var(--form-element-border-radius);
    }

.form-element:nth-of-type(2) .form-select {
    background-image: var(--form-select-arrow-down-color), linear-gradient(to right, var(--form-item2-color), var(--form-item2-color));
}

    .form-element:nth-of-type(2) .form-select:focus {
        background-image: var(--form-select-arrow-up-color);
        border: var(--form-element-focus-outline-style);
        border-radius: var(--form-element-border-radius);
    }

.form-element:nth-of-type(3) .form-select {
    background-image: var(--form-select-arrow-down-color), linear-gradient(to right, var(--form-item3-color), var(--form-item3-color));
}

    .form-element:nth-of-type(3) .form-select:focus {
        background-image: var(--form-select-arrow-up-color);
        border: var(--form-element-focus-outline-style);
        border-radius: var(--form-element-border-radius);
    }

.form-element:nth-of-type(4) .form-select {
    background-image: var(--form-select-arrow-down-color), linear-gradient(to right, var(--form-item4-color), var(--form-item4-color));
}

    .form-element:nth-of-type(4) .form-select:focus {
        background-image: var(--form-select-arrow-up-color);
        border: var(--form-element-focus-outline-style);
        border-radius: var(--form-element-border-radius);
    }

.form-element:nth-of-type(5) .form-select {
    background-image: var(--form-select-arrow-down-color), linear-gradient(to right, var(--form-item5-color), var(--form-item5-color));
}

    .form-element:nth-of-type(5) .form-select:focus {
        background-image: var(--form-select-arrow-up-color);
        border: var(--form-element-focus-outline-style);
        border-radius: var(--form-element-border-radius);
    }

.form-element:nth-of-type(6) .form-select {
    background-image: var(--form-select-arrow-down-color), linear-gradient(to right, var(--form-item6-color), var(--form-item6-color));
}

    .form-element:nth-of-type(6) .form-select:focus {
        background-image: var(--form-select-arrow-up-color);
        border: var(--form-element-focus-outline-style);
        border-radius: var(--form-element-border-radius);
    }

.form-select {
    /* styling */
    background-position: calc(100% - 25px) calc(1em + 5px), calc(100% - 20px) calc(1em + 5px), 100% 0;
    background-size: var(--form-select-arrow-background-size);
    background-repeat: no-repeat;
}

    .form-select:focus {
        background-position: calc(100% - 20px) calc(1em + 3px), calc(100% - 25px) calc(1em + 3px), 100% 0;
        background-size: var(--form-select-arrow-background-size);
        background-repeat: no-repeat;
        outline: 0;
    }

/***** FORM BUTTONS ******/

 .form-button {
     width: 60%;
     margin: 36px auto 12px auto;
     box-sizing: border-box;
     padding: 1em;
     min-width: 100px;
     max-height: 52px;
     border-radius: var(--form-button-border-radius);
     border: none;
     box-shadow: 0px 2px 6px var(--form-button-shadow-color);
     padding: 0.5em;
     color: var(--form-button-font-color);
 }

.form-button:nth-child(1) {
    grid-column: 1;
    background: var(--form-element-focus-background-color);
}

.form-button:nth-child(2) {
    grid-column: 2;
    background: var(--form-element-focus-background-color);
}

.form-button:hover {
    box-shadow: inset 0 0 100px 100px var(--form-button-background-hover);
}

 /**** COLORFUL BUTTONS *****/

 .form-button:nth-of-type(1) {
     background: var(--form-button-background-color-1);
 }

 .form-button:nth-of-type(2) {
     background: var(--form-button-background-color-2);
 }